* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SECTION ONE  */
.section-one {
    background-color: #1f2937;
    padding: 15px 15px 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.navbar {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo a {
    font-size: 24px;
    color: #f9faf8;
    text-decoration: none;
}
.logo:hover {
    cursor: pointer;
}

ul {
    list-style: none;
    display: flex;
    gap: 25px;
}
ul a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
ul a:hover {
    text-decoration: underline;
}

.media-object {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 50px;
    gap: 50px;
}

.content {
    width: 475px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.content > p {
    color: #e5e7eb;
    font-size: 18px;
}

button {
    width: 100px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 7px 25px;
    background-color: #3882f6;
    color: white;
}
button:hover {
    cursor: pointer;
}

.media {
    height: 264px;
    width: 500px;
    color: #e5e7eb;
    background-color: gray;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

/* SECTION TWO */

.section-two {
    padding: 40px;
}

.section-two .title {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 40px;
}

.card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.square {
    border-radius: 8px;
    border: 2px solid #3882f6;
    height: 130px;
    width: 130px;
}

.card > p {
    color: #4a4e53;
}

/* SECTION THREE */

.section-three {
    padding: 50px;
    background-color: #e5e7eb;

    display: flex;
    justify-content: center;
}

.quote-container {
    width: 900px;
    display: flex;
    flex-direction: column;
}

.quote {
    width: 860px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.section-three h1 {
    font-size: 24px;
    text-align: right;
}

/* SECTION FOUR */

.section-four {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

.call-to-action {
    background-color: #3882f6;
    padding: 50px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.call-to-action button {
    border: 2px solid white;
    margin-left: 250px;
    white-space: nowrap;
}

.text h1 {
    font-size: 24px;
    color: #f9faf8;
}
.text p {
    color: #f9faf8;
}

/* FOOTER */

.footer {
    color: #f9faf8;
    background-color: #1f2937;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}